<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405557219138-hmuhq6saajmom4888gtig8pt4jdva9vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405557219138-hmuhq6saajmom4888gtig8pt4jdva9vb</string>
	<key>API_KEY</key>
	<string>AIzaSyDHynpw60-DmiVS0LB3PkjYp6TRVIK-86g</string>
	<key>GCM_SENDER_ID</key>
	<string>405557219138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sakanaYoi</string>
	<key>PROJECT_ID</key>
	<string>sakanayoi-ikan</string>
	<key>STORAGE_BUCKET</key>
	<string>sakanayoi-ikan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405557219138:ios:8073efbd6e60b26fd902db</string>
	<key>DATABASE_URL</key>
	<string>https://sakanayoi-ikan-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>